<form class="container-sm login-form">
  <div class="mb-3 bg-success p-2 text-dark bg-opacity-25">
    <label for="email-login" class="form-label">
      <p class="fw-bold">Email:</p>
    </label>
    <input class="form-control form-control-lg" type="text" id="email-login" />
  </div>

  <div class="mb-3 bg-success p-2 text-dark bg-opacity-25">
    <label for="password-login" class="form-label">
      <p class="fw-bold">Password:</p>
    </label>
    <input class="form-control form-control-lg" type="password" id="password-login" />
  </div>

  <div>
    <button type="submit" class="btn btn-outline-secondary" data-bs-toggle="button" autocomplete="off">Login</button>
  </div>
</form>


<form class="container-sm signup-form">
  <div class="mb-3 bg-success p-2 text-dark bg-opacity-25">
    <label for="username-signup" class="form-label" >
      <p class="fw-bold">Username:</p>
    </label>
    <input class="form-control form-control-lg" type="text" id="username-signup" />
  </div>

  <div class="mb-3 bg-success p-2 text-dark bg-opacity-25">
    <label for="email-signup" class="form-label">
      <p class="fw-bold">Email:</p>
    </label>
    <input class="form-control form-control-lg" type="text" id="email-signup" />
  </div>

  <div class="mb-3 bg-success p-2 text-dark bg-opacity-25">
    <label for="password-signup" class="form-label">
      <p class="fw-bold">Password:</p>
    </label>
    <input class="form-control form-control-lg" type="password" id="password-signup" />
  </div>

  <div>
    <button type="submit" class="btn btn-outline-secondary" data-bs-toggle="button" autocomplete="off">Sign Up</button>
  </div>
</form>


<script src="/javascript/login.js"></script>